body {
  font-family: sans-serif;
  color: #666;
  font-size: large;
}

.button {
  margin-left: 5px;
  padding: 4px 10px;
  border: none;
  border-radius: 10px;
  font-size: medium;
  color: #444;
}

.button:hover {
  background-color: #79a8a9;
  color: #fff;
  cursor: pointer;
}

.todo-item {
  display: flex;
  align-items: center;
}

.todo-title {
  margin: 6px;
}

.title {
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.input-area {
  height: 30px;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 5px 10px;
  background-color: #c6e5d9;
  border-radius: 8px;
}

.input-form {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  font-size: medium;
}

.incomplete-area {
  margin: 10px;
  padding: 5px 10px;
  min-height: 150px;
  border: 2px solid #aacfd0;
  border-radius: 8px;
  font-size: large;
}

.complete-area {
  margin: 10px;
  padding: 5px 10px;
  min-height: 150px;
  background-color: #c9dede;
  border: 2px solid #aacfd0;
  border-radius: 8px;
  font-size: large;
}